<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a35e93acff.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <script src="index.js"></script>
    <title>Clean Up Britain</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/rahasestore.css">
    <link rel="contents" href="../templates/home.html">
    <link rel="contents" href="../templates/contact_form.html">
</head>
<body>


    <h2 class="title_top">Thank you</h2>
    <p class="contact_text">Thank you for your message. It has been successfully sent to us. We will respond as soon as possible.</p>
    <p class="contact_text">Kind regards</p>
    <p class="contact_text">Your Cleanup Britain's Team.</p>
    <p class="contact_text"><a href ="/"> go on</a></p>
</body>

</html>